header {
    position: absolute;
    width: 100%;
    z-index: 1;
    color: #fff;
    border-bottom: 1px solid #ffffff70;
    background-color: transparent;
}

header .logo {
    max-width: 80px;
}

.ReactModalPortal .ReactModal__Overlay {
    background-color: #00000075 !important;
}

.home-banner {
    position: relative;
    padding-top: 130px;
    height: 100vh;
    background: url('../images/img/5.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 4368 / 2448;
}

.home-banner::before,
.page-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.163);
}

.home-banner .content,
.page-banner .content {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: 50%;
}

@media (max-width:567px) {
    .home-banner {
        height: 500px;
    }

    .home-banner .content {
        position: absolute;
        top: 40%;
        transform: translate(-50%);
        left: 50%;
        z-index: 1;
    }
}

.home_prodcut_sec .product-card .product-img {
    width: 100%;
    aspect-ratio: 300/ 205;
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
}

.home_prodcut_sec .prodcut-card .text-m {
    font-size: 18px;
}

.home_feature_sec .features_slider .feature-img-card {
    width: 100%;
    aspect-ratio: 300 / 205;
}
.home_feature_sec .features_slider .feature-img-card .feature-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;

}
.home_feature_sec .features_slider {
    margin-left: -15px;
    margin-right: -15px;
}

.home_prodcut_sec .product-card:hover {
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

/*  */
.product-banner {
    position: relative;
    padding-top: 130px;
    height: auto;
    background: url('../images/img/4.webp') no-repeat bottom center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 368 / 148;
}

.product_main_sec .product-card .pro-img {
    aspect-ratio: 300/ 205;
    width: 100%;
}


/* contact */
.contact-banner {
    position: relative;
    padding-top: 130px;
    height: auto;
    background: url('../images/img/1.webp') no-repeat bottom center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 368 / 148;
}